%h2 About DrillTutor&trade;
%h5 DrillTutor&trade; is like a drill sergent for earnest language learners
%p
  DrillTutor&trade; was written by David Anderson in 2023 to use his topic-based
  language notes as source material for generating a coordinated flashcard
  and repetitive learning program for foreign language study.
%p
  Currently, DrillTutor&trade; is hosted as a "hobby" project at render.com.
  The application hibernates when it has been inactive
  for a period of time. That means there can be a 10s lag time for
  Render to wake up DrillTutor&trade; and get it active again.
%p
  A FlashCard is an index card: the "front" side shows you a
  word in the language you're learning; the "rear" side has the 
  response. You can "flip" the card to see the answer.
%p
  You can also choose which "side" of the card you will use to 
  drill yourself on: your target language (the language you want to 
  learn) or your source language (usually your native language).
  Typically the target is on the "front" and the source is on the "rear."
%p
  You can elect to 
  see example sentences or phrases using the key words of the 
  FlashCard. 
%p
  &emsp;
  %br
  &emsp;
  %br
  &emsp;
  %br
  %i
    The domain [majozi.com] is for sale. Interested parties should
    = mail_to("dsaronin@gmail.com", "email &raquo;")
    me for further information.
