%h2 About DrillTutor&trade;
%h5 DrillTutor&trade; is like a drill sergent for earnest language learners
%p
  DrillTutor&trade; was written by David Anderson in 2023 to use his topic-based
  language notes as source material for generating a coordinated flashcard
  and repetitive learning program for foreign language study.
  %br
  Currently, DrillTutor&trade; is hosted as a "hobby" project at render.com.
  The application hibernates when it has been inactive
  for a period of time. That means there can be a 10s lag time for
  Render to wake up DrillTutor&trade; and get it active again.
  %br
  &emsp;
  %br
  &emsp;
  %br
  %i
    The domain [majozi.com] is for sale. Interested parties should
    = mail_to("dsaronin@gmail.com", "email &raquo;")
    me for further information.
