-# flashcard player controls
- menu1 = %w{prev next curr shfl unsh gplus gminus quit}

%dl
  - menu1.each do |item|
    %dt
      = link_to( item, "/#{item}", { :title => "player action: #{item}" } )
 
