%h6 General Disclaimer for DrillTutor Demonstration
%i
  You are viewing a working demonstration of DrillTutor capabilities.
  This is a Proof-of-Concept demonstration using my personal language
  notes. 
  A production version of DrillTutor would use the user's own
  language notes, not the ones you are viewing here. 
%i
  By proceeding with
  this demonstration, you are agreeing to waive any claims of liability or
  damages or harm due to what you view herein. You agree that you are viewing
  my personal notes used to demonstrate a potential usage of DrillTutor.
  There is no expectation that these notes would be used for anyone's
  personal study and benefit, other than that of the author himself.
%i
  You understand that these notes are only for my own personal use.
  You acknowledge that the DrillTutor site is not being offered as 
  a Turkish Language learning site.

