%h3  Welcome to DrillTutor&trade;
%p   
  DrillTutor uses your language notes to construct Flashcards, 
  which it then shows you in a sequence of drills.
%p
  DrillTutor is Topics-based allowing you to organize your
  notes around whatever Topics are meaningful to your language study.
  They could be grammatically based (adverbs, adjectives, plurals) or
  vocabulary based (careers, work, food, travel).
%p
  DrillTutor can use a variety of note types: Topics, Sentences, Phrases,
  Opposites, Dialog, Readings, and Dictionary.
%p
  DrillTutor can also use these to show examples during 
  a Flashcard drill.

%h6 
  See sample: &emsp; &emsp;
  = link_to( "Flashcards &raquo;", "/start", { :title => "Start player" } )
%h6 
  Your selection: &emsp;
  = link_to( "Change selection &raquo;", "/settings", { :title => "Change settings for selecting flashcards." } )
 

