%h3  Welcome to DrillTutor&trade;
%p   
  DrillTutor uses your personal language notes to construct Flashcards, 
  which it then displays to you as a sequence of drills.
%p
  DrillTutor is Topics-based allowing you to organize your
  notes around whatever Topics are meaningful to your language study.
  They could be grammatically based (adverbs, adjectives, plurals) or
  vocabulary based (careers, work, food, travel).
%p
  DrillTutor can use a variety of types: Topics, Sentences, Phrases,
  Opposites, Dialog, Readings, and Dictionary.
%br
%h6 
  See sample: &emsp; &emsp;
  = link_to( "Flashcards &raquo;", "/start", { :title => "Start player" } )
%h6 
  Your selection: &emsp;
  = link_to( "Change selection &raquo;", "/settings", { :title => "Change settings for selecting flashcards." } )
%br
%br
%br
%br
%i
  Note: You are viewing a working demonstration of DrillTutor capabilities.
  This is a Proof-of-Concept demonstration using my personal language
  notes. A production version of DrillTutor would use the user's own
  language notes, not the ones you are viewing here. By proceeding with
  this demonstration, you are agreeing to waive any claims of liability or
  damages or harm due to what you view herein. You agree that you are viewing
  my personal notes demonstrating a potential usage of DrillTutor
  and that there is no claim of copyright infringement from 
  whatever source I may have derived my notes. You acknowledge that
  the DrillTutor site is not being offered as a Turkish Language learning site.

