%h2  Welcome to DrillTutor&trade;
%p   
  DrillTutor uses your language notes to construct Flash Cards, 
  which it then shows you in a sequence of drills.
%p
  A FlashCard is an index card: the "front" side shows you a
  word in the language you're learning; the "rear" side has the 
  response. You can "flip" the card to see the answer.
%p
  You can also choose which "side" of the card you will use to 
  drill yourself on: your target language (the language you want to 
  learn) or your source language (usually your native language).
  Typically the target is on the "front" and the source is on the "rear."
%p
  You can elect to 
  see example sentences or phrases using the key words of the 
  FlashCard. 
%p
  DrillTutor is Topics-based: that means, that you organize your
  notes around whatever Topics are meaningful to your language study.
  They could be grammatically based (adverbs, adjectives, plurals) or
  vocabulary based (careers, work, food, travel).
%p
  Types of notes DrillTutor can use are: Topics, Sentences, Phrases,
  Opposites, Dialog, Articles, and Dictionary.
%p
  DrillTutor can use these to also supply examples to show during 
  a FlashCard drill.
%h4 To get started...
= link_to( "Flashcard player &raquo;", "/start", { :title => "Start player" } )
 

