%h2  Welcome to DrillTutor&trade;
%p   
  DrillTutor uses your language notes to construct Flash Cards, 
  which it then shows you in a sequence of drills.
%p
  DrillTutor is Topics-based: that means, that you organize your
  notes around whatever Topics are meaningful to your language study.
  They could be grammatically based (adverbs, adjectives, plurals) or
  vocabulary based (careers, work, food, travel).
%p
  Types of notes DrillTutor can use are: Topics, Sentences, Phrases,
  Opposites, Dialog, Articles, and Dictionary.
%p
  DrillTutor can use these to also supply examples to show during 
  a FlashCard drill.

%h5 To get started...
= link_to( "Flashcard player &raquo;", "/start", { :title => "Start player" } )
%h5 To change settings...
= link_to( "Flashcard selection settings &raquo;", "/settings", { :title => "Change settings for selecting flashcards." } )
 

